.did_title_font {
  font-family: "Fraunces", serif;
}

.did_normal_font {
  font-family: "Jost", sans-serif;
}

.img_title {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.navbar {
  /* make navbar fixed at the top */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
