.did_title_font {
  font-family: "Fraunces", serif;
}

.did_normal_font {
  font-family: "Jost", sans-serif;
}

.lomba_card {
  background: rgb(12,29,88);
  background: linear-gradient(45deg, rgba(12,29,88,1) 0%, rgba(110,76,104,1) 100%); 
}

.lomba2_card {
  background: rgb(160,61,163);
  background: linear-gradient(135deg, rgba(160,61,163,1) 0%, rgba(56,148,58,1) 100%);
}

.exhibition_card {
  background: rgb(148,100,102);
  background: linear-gradient(45deg, rgba(148,100,102,1) 26%, rgba(243,213,108,1) 100%);
}

.div-right {
  /* position a div to the right */
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
